# fly.toml app configuration file generated for playful-web on 2025-09-27T10:47:33-04:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'playful-search'
primary_region = 'sjc'

[deploy]
  strategy = 'rolling'

[http_service]
  internal_port = 8108
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1

  [[http_service.checks]]
    interval = '30s'
    timeout = '5s'
    grace_period = '10s'
    method = 'GET'
    path = '/health'

[[vm]]
  size = 'shared-cpu-1x'

[mounts]
  source = "search_data"
  destination = "/data"
  auto_extend_size_threshold = 90
  auto_extend_size_increment = "1GB"
  auto_extend_size_limit = "5GB"
